body{
	margin: 0;
	padding: 0;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: sans-serif;
}

canvas{
	width: 1200px;
	height: 600px;
	margin: 20px;
	border: 1px solid black;
	background-color: black;
}

#score{
	position: absolute;
	top: 30px;
	bottom: 30px;
	width: 110px;
	height: 10px;
	display: flex;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#lives{
	position: absolute;
	top: 30px;
	bottom: 30px;
	width: 2350px;
	height: 10px;
	display: flex;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}